.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

### include .zip files but exclude the resulting folders;
### each user can expand the zips locally
_raw_data/studyarea_shapefiles/*
_raw_data/db_range_shifts/*